{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <h2>献立提案</h2>
    {% for field in form %}
    <div>
        {{ field.label_tag }}
        {% if field.help_text %}
        <span>{{ field.help_text }}</span>
        {% endif %}
        {{ field }}
        {% if field.name == "budget" %}
        円
        {% endif %}
        {% if field.errors %}
        <div>
            {% for error in field.errors %}
            {{ error }}<br>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <input type="submit">
    {% csrf_token %}
</form>
{% endblock content %}