{% extends 'base.html' %}

{% block content %}
    <h1>Sign up</h1>
    <section class="common-form">
    <form method="post">
        {% csrf_token %}
        <label>メールアドレス</label>{{ user_create_form.email }} <br>
        <label>パスワード</label>{{ user_create_form.password1 }} <br>
        <label>パスワード(再入力)</label>{{ user_create_form.password2 }} <br>

        <label>アレルギー(複数選択、未選択可)</label>
        {{ user_create_form.allergy }}
        <label>好みのジャンル(複数選択可)</label>
        {{ user_create_form.genre }}
        <button type="submit" class="submit">Sign up</button>
    </form>
    </section>
{% endblock %}
