{% extends 'base.html' %}

{% block content %}
    <h1>User Information</h1>

    <div>
    <h2>食事履歴</h2>
    <table>
    <thead>
    <tr>
        <th>食事日</th>
        <th>メニュー</th>
        <th>カロリー</th>
        <th>炭水化物</th>
        <th>塩分</th>
        <th>脂質</th>
        <th>タンパク質</th>
        <th>赤</th>
        <th>緑</th>
        <th>黄</th>
    </tr>
    </thead>
    <tbody>
    {% for date, nutrient in nutrient_shift.items %}
        <tr>
            <td>{{ date }}</td>
            <td>{{ nutrient.energy }}</td>
            <td>{{ nutrient.carbohydrates }}</td>
            <td>{{ nutrient.salt }}</td>
            <td>{{ nutrient.fat }}</td>
            <td>{{ nutrient.protein }}</td>
            <td>{{ nutrient.red }}</td>
            <td>{{ nutrient.green }}</td>
            <td>{{ nutrient.yellow }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

    <div>
    <h2>ユーザ情報</h2>
    <p>email</p>
    {{ user.email }} <br>
    <p>allergy</p>
    {% for allelgy in user.allergy.all %}
        {{ allelgy.allergy_name }}
    {% endfor %}
    <p>genre</p>
    {% for genre in user.genre.all %}
        {{ genre.genre_name }}
    {% endfor %}
    </div>

    <a href="{% url 'accounts:delete' %}">アカウント削除</a>

{% endblock %}
