{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    {#    <link href="{% static 'css/style.css' %}" rel="stylesheet">#}
    <title>{% if request.path != '/' %}{% block title %}{% endblock %} | {% endif %} Blog App with Auth | Django2
        Tutorial</title>
</head>

<body>
    <div class="container">
        <header>
            <p class="site-name"><a href="/">Lunch App</a></p>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="logout">Logout</a></li>
                    <li><a href="{% url 'accounts:my_page' pk=user.pk %}" class="logout">my_page</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:signup' %}" class="signup">Sign up</a></li>
                    <li><a href="{% url 'login' %}" class="login">Login</a></li>
                    {% endif %}
                    {% if user.is_superuser %}
                    <li><a href={% url 'menu_proposal:add' %} class="act">メニューの追加</a></li>
                    {% endif %}
                    <li><a href={% url 'menu_proposal:proposal' %} class="act">献立提案</a></li>
                    <li><a href={% url 'menu_proposal:list' %} class="act">メニュー一覧</a></li>
                    <li><a href="#" class="act">Add Post</a></li>
                </ul>
            </nav>
        </header>

        <div class="content">
            {% if messages %}
            <div>
                {% for message in messages %}
                <p> {{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>