{% extends 'base.html' %}

{% block content %}
<h2>メニュー登録</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <label>{{field.label}}</label>
    {% if field.help_text %}
    <span>{{ field.help_text }}</span>
    {% endif %}
    <br>
    {% if field.errors %}
    <div>
        {% for error in field.errors %}
        {{ error }}<br>
        {% endfor %}
    </div>
    {% endif %}

    {% for i in field %}
    <label class="selectbox">
        {{i}}
    </label>
    {% endfor %}
    <br>
    {% endfor %}
    <input type="submit" value="追加">
</form>
{% endblock content %}