{% extends 'base.html' %}

{% block content %}
<a href={% url 'menu_proposal:list' %}>一覧に戻る</a>
<h3>{{menu.menu_name}}</h3>
{% if menu.menu_picture %}
<th>画像：<br><img src="{{ menu.menu_picture.url }}" width="50%" height="50%" /></th>
{% endif %}
<table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#FFFFFF">
    <tr>
        <th>
            価格
        </th>
        <th>
            {{menu.menu_value}}円
        </th>
    </tr>
    <tr>
        <th>
            3群点数
        </th>
        <th>
            赤：{{menu.menu_red_point}}
            <br>
            緑：{{menu.menu_green_point}}
            <br>
            黄：{{menu.menu_yellow_point}}
        </th>
    </tr>
    <tr>
        <th>
            カロリー
        </th>
        <th>
            {{menu.menu_lipid}}kcal
        </th>
    </tr>
    <tr>
        <th>
            脂質
        </th>
        <th>
            {{menu.menu_lipid}}g
        </th>
    </tr>
    <tr>
        <th>
            塩分
        </th>
        <th>
            {{menu.menu_salt_content}}g
        </th>
    </tr>
    <tr>
        <th>
            炭水化物
        </th>
        <th>
            {{menu.menu_carbohydrate}}g
        </th>
    </tr>
    <tr>
        <th>
            タンパク質
        </th>
        <th>
            {{menu.menu_protein}}g
        </th>
    </tr>
    <tr>
        <th>
            ジャンル
        </th>
        <th>

            {% for genre in menu.menu_genre.all %}
            {{genre.genre_name}}
            <br>
            {% endfor %}
        </th>
    </tr>
    <tr>

        <th>
            アレルギー
        </th>
        <th>
            {% for Allergies in menu.menu_allergies.all %}
            {{Allergies.allergy_name}}
            {% endfor %}
        </th>
    </tr>
</table>
{% endblock content %}