{% extends 'base.html' %}

{% block content %}
<h2>メニューリスト</h2>
<h3>検索条件</h3>
<form method="post">
    {% csrf_token %}
    {% for field in test_form %}
    <label>{{field.label}}:</label>
    <br>
    {% for i in field %}
    <label class="selectbox">
        {{i}}
    </label>
    {% endfor %}
    <br>
    {% endfor %}

    <div>
        <label>ソート条件</label> <br>
        <input type="radio" name="order" value="order_name" checked><label>名前</label> <br>
        <input type="radio" name="order_by_name" value="ascend" checked> 昇順
        <input type="radio" name="order_by_name" value="descend"> 降順

        <br><br>

        <input type="radio" name="order" value="order_price"><label>値段</label> <br>
        <input type="radio" name="order_by_price" value="ascend" checked> 昇順
        <input type="radio" name="order_by_price" value="descend"> 降順
    </div>
    <input class="btn-shine" type="submit" id="button" name="button" value="検索">
</form>
<br>
<h3>検索結果</h3>
{% for menu in menu_list %}

<a href={% url 'menu_proposal:detail' pk=menu.id %}>{{menu.menu_name}}</a>
<br>
{% endfor %}
<!--ページ送り-->
{% if page_obj.has_previous %}
<a align="left" href="?page={{ page_obj.previous_page_number }}">前へ</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<span>{{ num }}</span>
{% else %}
<a href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">次へ</a>
{% endif %}
{% endblock content %}