{% extends 'base.html' %}

{% block content %}
<h2>メニューリスト</h2>
<h1>検索条件</h1>
<form method="post">
    {% csrf_token %}
    {% for field in test_form %}
    <label>{{field.label}}:</label>
    <br>
    {% for i in field %}
    <label class="selectbox">
        {{i}}
    </label>
    {% endfor %}
    <br>
    {% endfor %}
    <input type="submit" id="button" name="button" value="検索">
</form>
<h1>検索結果</h1>
{% for menu in menu_list %}

<a href={% url 'menu_proposal:detail' pk=menu.id %}>{{menu.menu_name}}</a>
<br>
{% endfor %}
<!--ページ送り-->
{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}">前へ</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<span>{{ num }}</span>
{% else %}
<a href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">次へ</a>
{% endif %}
{% endblock content %}