{% extends 'base.html' %}

{% block content %}
<h2>メニュー修正</h2>
<a href={% url 'menu_proposal:edit' %}>一覧に戻る</a>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <label>{{field.label}}</label>
    {% if field.help_text %}
    <span>{{ field.help_text }}</span>
    {% endif %}
    <br>
    {% if field.errors %}
    <div>
        {% for error in field.errors %}
        {{ error }}<br>
        {% endfor %}
    </div>
    {% endif %}

    {% for i in field %}
    <label class="selectbox">
        {{i}}
    </label>
    {% endfor %}
    <br>
    {% endfor %}
    <div align="center">
    <input class="btn-shine submit" type="submit" value="修正"><br>
    </div>
</form>

{% endblock content %}